Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

Architecture docs
  AGENTS.md
  README.md
  sentry_streams/AGENTS.md
  sentry_streams/README.md
  sentry_streams/docs/architecture/README.md
  sentry_streams/docs/architecture/contracts.md
  sentry_streams/docs/architecture/guarantees.md
  sentry_streams/docs/architecture/guides/adding-a-step.md
  sentry_streams/docs/architecture/pipeline-dsl-and-runner.md
  sentry_streams/docs/architecture/rust-arroyo/README.md
  sentry_streams/docs/architecture/rust-arroyo/adapter.md
  sentry_streams/docs/architecture/rust-arroyo/messages.md
  sentry_streams/docs/architecture/rust-arroyo/metrics.md
  sentry_streams/docs/architecture/rust-arroyo/python-operator.md
  sentry_streams/docs/reference/deployment-config.md
  sentry_streams/sentry_streams/deployment_config/README.md
Due: none

Limit arroyo
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
Due: none

fix: constrain Arroyo to versions below 2.44
  sentry_streams/Cargo.toml
Due: none

Add decisions
  sentry_streams/docs/architecture/README.md
  sentry_streams/docs/architecture/decisions/0001-separate-application-from-deployment.md
  sentry_streams/docs/architecture/decisions/0002-adapters-as-the-runtime-boundary.md
  sentry_streams/docs/architecture/decisions/0004-complex-steps-as-sugar.md
  sentry_streams/docs/architecture/decisions/0005-statically-typed-dsl.md
  sentry_streams/docs/architecture/decisions/0009-rust-runs-python-builds.md
  sentry_streams/docs/architecture/decisions/0010-routes-for-branching.md
  sentry_streams/docs/architecture/decisions/0011-watermarks-drive-commits.md
  sentry_streams/docs/architecture/decisions/0013-embed-python-strategies-via-a-pull-delegate.md
  sentry_streams/docs/architecture/decisions/0014-fuse-maps-into-segments.md
  sentry_streams/docs/architecture/decisions/0018-symmetric-buffered-metrics.md
  sentry_streams/docs/architecture/decisions/README.md
Due: none

Architecture docs (#377)
  AGENTS.md
  README.md
  sentry_streams/AGENTS.md
  sentry_streams/Cargo.toml
  sentry_streams/README.md
  sentry_streams/docs/architecture/README.md
  sentry_streams/docs/architecture/contracts.md
  sentry_streams/docs/architecture/decisions/0001-separate-application-from-deployment.md
  sentry_streams/docs/architecture/decisions/0002-adapters-as-the-runtime-boundary.md
  sentry_streams/docs/architecture/decisions/0004-complex-steps-as-sugar.md
  sentry_streams/docs/architecture/decisions/0005-statically-typed-dsl.md
  sentry_streams/docs/architecture/decisions/0009-rust-runs-python-builds.md
  sentry_streams/docs/architecture/decisions/0010-routes-for-branching.md
  sentry_streams/docs/architecture/decisions/0011-watermarks-drive-commits.md
  sentry_streams/docs/architecture/decisions/0013-embed-python-strategies-via-a-pull-delegate.md
  sentry_streams/docs/architecture/decisions/0014-fuse-maps-into-segments.md
  sentry_streams/docs/architecture/decisions/0018-symmetric-buffered-metrics.md
  sentry_streams/docs/architecture/decisions/README.md
  sentry_streams/docs/architecture/guarantees.md
  sentry_streams/docs/architecture/guides/adding-a-step.md
  sentry_streams/docs/architecture/pipeline-dsl-and-runner.md
  sentry_streams/docs/architecture/rust-arroyo/README.md
  sentry_streams/docs/architecture/rust-arroyo/adapter.md
  sentry_streams/docs/architecture/rust-arroyo/messages.md
  sentry_streams/docs/architecture/rust-arroyo/metrics.md
  sentry_streams/docs/architecture/rust-arroyo/python-operator.md
  sentry_streams/docs/reference/deployment-config.md
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/deployment_config/README.md
Due: none

deploy: e53b27d047ebbfae418141f6cc02aa7ab6b983a3
  .doctrees/environment.pickle
Due: none

Address retryable errors
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/gcs_writer.rs
  sentry_streams/uv.lock
Due: cargo-fmt

Address comments
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

deploy: 9fc9211449180c0c5be52b79268520d9a8cd0108
  .doctrees/environment.pickle
Due: none

release: 0.0.66
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

add streams.pipeline.batch.size_bytes metric
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

feat(batch): add streams.pipeline.batch.size_bytes metric (#380)
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

deploy: f40031d4080bfabb04756384504bf226f3a339df
  .doctrees/environment.pickle
Due: none

release: 0.0.67
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(batch): add batch_size_bytes flush trigger
  sentry_streams/docs/reference/deployment-config.md
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/operators.rs
  sentry_streams/tests/test_pipeline.py
Due: cargo-fmt, mypy

fix(batch): take the first byte measurement at the chunk floor
  sentry_streams/src/batch_step.rs
  sentry_streams/tests/adapters/arroyo/test_adapter.py
Due: cargo-fmt, mypy

refactor(batch): count payload bytes on every message
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/batch_step.rs
  sentry_streams/src/operators.rs
Due: cargo-fmt, mypy

deploy: aa80e32b1485f4feeb9e198784a9982fbc7b9ad1
  .doctrees/environment.pickle
Due: none

Update index.yaml
  index.yaml
Due: none

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
