Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

Add map
  sentry_streams/bin/pyspy_runner
  sentry_streams/sentry_streams/examples/filter_profile.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

restoremap
  sentry_streams/sentry_streams/examples/filter_profile.py
Due: mypy

Remove headers
  sentry_streams/scripts/generate_trace_item_kafka_traffic.py
Due: mypy

Stop metrics
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Add parsing
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Make it parallel
  sentry_streams/sentry_streams/deployment_config/filter_profile.yaml
Due: none

Disable metrics
  sentry_streams/sentry_streams/deployment_config/filter_profile.yaml
Due: none

fix(type checking): add property decorators (#297)
  sentry_streams/sentry_streams/rust_streams.pyi
Due: none

add
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/lib.rs
  sentry_streams/tests/test_dlq.py
Due: cargo-fmt, mypy

revert mistake
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

refactor streamSource to be the same pattern as streamSink
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/kafka_config.rs
  sentry_streams/tests/test_dlq.py
Due: cargo-fmt, mypy

add one more property decoratro
  sentry_streams/sentry_streams/rust_streams.pyi
Due: none

revert
  sentry_streams/src/kafka_config.rs
Due: cargo-fmt

pub fn new was still needed
  sentry_streams/src/kafka_config.rs
Due: cargo-fmt

edit tests
  sentry_streams/tests/test_dlq.py
Due: mypy

topic not required
  sentry_streams/sentry_streams/config.json
Due: none

wire up json validation
  sentry_streams/sentry_streams/config.json
Due: none

add test to prove config cannot be passed in at construction time
  sentry_streams/tests/test_dlq.py
Due: mypy

Passthrough everything
  sentry_streams/sentry_streams/deployment_config/filter_profile.yaml
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Re-add transformation
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Add into
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Add function
  sentry_streams/sentry_streams/examples/transform_metrics.py
  sentry_streams/src/transformer.rs
Due: cargo-fmt, mypy

streamline functiojn
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

add inner
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Load headers
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

create new message
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

only payload
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Add payload again
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Remove header gen
  sentry_streams/src/messages.rs
Due: cargo-fmt

Remove header copy
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/src/transformer.rs
Due: cargo-fmt, mypy
