Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

Fix pr comments
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/metrics/metrics.py
Due: mypy

ref(metrics): Refactor metrics backend to make Arroyo metrics work (#285)
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/deployment_config/parallel_processing.yaml
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/test_runner.py
Due: mypy

release: 0.0.42
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(streams): Add backpressure metrics for consumer strategies
  sentry_streams/src/backpressure_metrics.rs
  sentry_streams/src/consumer.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/sinks.rs
Due: cargo-fmt

ref(streams): Align backpressure metrics with pipeline step names
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/backpressure_metrics.rs
  sentry_streams/src/consumer.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt, mypy

ref(streams): Store step names on runtime operators
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/test_pipeline.py
Due: cargo-fmt, mypy

feat(streams): Centralize Rust pipeline metrics emission
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/backpressure_metrics.rs
  sentry_streams/src/metrics.rs
  sentry_streams/uv.lock
Due: cargo-fmt

feat(gcs): Log payload, token, and request timing for GCS writes
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

feat(gcs): Log payload, token, and request timing for GCS writes (#289)
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

release: 0.0.43
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

chore: pin GitHub Actions to full-length commit SHAs (#279)
  .github/workflows/changelog-preview.yml
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release-streams-k8s.yaml
  .github/workflows/release-streams.yaml
  .github/workflows/rust-ci.yaml
  .github/workflows/type-checking.yaml
Due: none

Create filter profile test
  sentry_streams/scripts/generate_trace_item_kafka_traffic.py
  sentry_streams/sentry_streams/deployment_config/filter_profile.yaml
  sentry_streams/sentry_streams/examples/filter_profile.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Fix buffer
  sentry_streams/scripts/generate_trace_item_kafka_traffic.py
Due: mypy

Add counter
  sentry_streams/scripts/generate_trace_item_kafka_traffic.py
Due: mypy

runner
  sentry_streams/bin/pyspy_runner
  sentry_streams/bin/runner
Due: none

Add fast filter
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/examples/filter_profile.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/testutils.rs
Due: cargo-fmt, mypy

Add fast filter
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/testutils.rs
Due: cargo-fmt, mypy

feat(streams): Add PredicateFilter, HeadersFilter, and Rust header filter
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/steps.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/sentry_streams/examples/simple_map_filter.py
  sentry_streams/sentry_streams/examples/word_counter.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/filter_step.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/tests/adapters/arroyo/conftest.py
  sentry_streams/tests/adapters/arroyo/test_consumer.py
  sentry_streams/tests/adapters/arroyo/test_steps.py
  sentry_streams/tests/pipeline/test_chain.py
  sentry_streams/tests/test_mypy_integration.py
  sentry_streams/tests/test_pipeline.py
  sentry_streams/tests/test_runner.py
  sentry_streams/tests/test_rust_functions_integration.py
Due: cargo-fmt, mypy

add override_params from yaml config pass through to arroyo rust
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/kafka_config.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
Due: cargo-fmt, mypy

make override_params optional
  sentry_streams/sentry_streams/config_types.py
Due: mypy

typing
  sentry_streams/sentry_streams/config_types.py
Due: mypy

type checking
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Refactor step names
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/operators.rs
  sentry_streams/tests/test_pipeline.py
  sentry_streams/tests/test_rust_functions_integration.py
Due: cargo-fmt, mypy

Simplify the header match check
  sentry_streams/src/header_filter_step.rs
Due: cargo-fmt

Add fast headers filter (#290)
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/steps.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/sentry_streams/examples/simple_map_filter.py
  sentry_streams/sentry_streams/examples/word_counter.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/filter_step.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/testutils.rs
  sentry_streams/tests/adapters/arroyo/conftest.py
  sentry_streams/tests/adapters/arroyo/test_consumer.py
  sentry_streams/tests/adapters/arroyo/test_steps.py
  sentry_streams/tests/pipeline/test_chain.py
  sentry_streams/tests/test_mypy_integration.py
  sentry_streams/tests/test_pipeline.py
  sentry_streams/tests/test_runner.py
  sentry_streams/tests/test_rust_functions_integration.py
Due: cargo-fmt, mypy

release: 0.0.44
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

chore: Remove create-pr skill alias from agents.toml
  agents.toml
Due: none

Add new pipeline skill
  .agents/skills/create-pipeline/SKILL.md
Due: none

chore: Remove create-pr skill alias from agents.toml (#294)
  agents.toml
Due: none

Reset files
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
Due: cargo-fmt, mypy

Add batch
  sentry_streams/sentry_streams/deployment_config/filter_profile.yaml
  sentry_streams/sentry_streams/examples/filter_profile.py
Due: mypy

remove additional settings
  sentry_streams/mypy.ini
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/tests/adapters/arroyo/test_adapter.py
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
Due: mypy

remove additional settings
  sentry_streams/mypy.ini
Due: none

fix(kafka config): connect override_params from yaml config to rust arroyo (#291)
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/kafka_config.rs
  sentry_streams/tests/adapters/arroyo/test_adapter.py
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
Due: cargo-fmt, mypy

PAssthrough
  sentry_streams/sentry_streams/examples/filter_profile.py
Due: mypy

Remove filter again
  sentry_streams/sentry_streams/examples/filter_profile.py
Due: mypy

add property decorators
  sentry_streams/sentry_streams/rust_streams.pyi
Due: none

also producer config
  sentry_streams/sentry_streams/rust_streams.pyi
Due: none

rate
  sentry_streams/bin/pyspy_runner
Due: none

Increase rate
  sentry_streams/bin/pyspy_runner
Due: none

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
