Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

Remove comments
  sentry_streams/src/batch_step.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

Add some docs
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

ref(streams): Rename watermark message_time to last_message_time
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/fake_strategy.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/adapters/arroyo/helpers/message_helpers.py
Due: cargo-fmt, mypy

fix(k8s): Add env:primary to main deployment when canary split is on
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Fix comment
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

Add env when needed
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

feat(k8s): Add optional canary Deployment to PipelineStep (#313)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(streams): Consumer watermark commit latency metric (#314)
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/dev_null_sink.rs
  sentry_streams/src/fake_strategy.rs
  sentry_streams/src/filter_step.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/transformer.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/adapters/arroyo/helpers/message_helpers.py
Due: cargo-fmt, mypy

release: 0.0.51
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

release: 0.0.7
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

Add sentry sdk to rust
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
Due: cargo-fmt, mypy

Fix default argument
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

fix(streams): convert Kafka message timestamps to seconds correctly
  sentry_streams/src/consumer.rs
Due: cargo-fmt

fix(streams): correct Kafka timestamp scale for watermark commit latency (#320)
  sentry_streams/src/consumer.rs
Due: cargo-fmt

release: 0.0.52
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Upgrade arroyo and pyo3
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
  sentry_streams_k8s/uv.lock
Due: none

Upgrade arroyo and pyo3 (#321)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
  sentry_streams_k8s/uv.lock
Due: none

feat(streams): tag consumer latency metric and rename
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

Tag consumer latency metric and rename to latency_sec (#322)
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

release: 0.0.54
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Add sentry SDK to the rust arroyo adapter (#316)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
Due: cargo-fmt, mypy

release: 0.0.55
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

chore: upgrade manylinux to 2_28 for OpenSSL 1.1+ support
  .github/workflows/build-streams.yaml
Due: none

wasm support
  examples/wasm_guest/.gitignore
  examples/wasm_guest/Makefile
  examples/wasm_guest/README.md
  examples/wasm_guest/pyproject.toml
  examples/wasm_guest/src/guest_impl.py
  examples/wasm_guest/uv.lock
  examples/wasm_guest/wit/processor.wit
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/deployment_config/wasm_processor.yaml
  sentry_streams/sentry_streams/examples/wasm_processor.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/wasm_processor.rs
  sentry_streams/tests/fixtures/wasm_passthrough.wasm
  sentry_streams/tests/pipeline/test_wasm_processor.py
  sentry_streams/tests/wasm_passthrough_guest/.cargo/config.toml
  sentry_streams/tests/wasm_passthrough_guest/Cargo.lock
  sentry_streams/tests/wasm_passthrough_guest/Cargo.toml
  sentry_streams/tests/wasm_passthrough_guest/Makefile
  sentry_streams/tests/wasm_passthrough_guest/README.md
  sentry_streams/tests/wasm_passthrough_guest/src/lib.rs
  sentry_streams/uv.lock
  sentry_streams/wit/processor.wit
Due: cargo-fmt, mypy

feat(k8s): add configVersion annotation to pipeline deployments
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(k8s): add configVersion annotation to pipeline deployments (#326)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

release: 0.0.8
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

Fix pipeline
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/deployment_config/wasm_processor.yaml
  sentry_streams/sentry_streams/examples/wasm_processor.py
Due: mypy

Add submit and poll timing metrics for batch and Python adapter steps.
  sentry_streams/src/batch_step.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

Add a few metrics on main thread contention points (#328)
  sentry_streams/src/batch_step.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

release: 0.0.56
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

release: 0.0.57
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

release: 0.0.9
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

release: 0.0.58
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Make binary smaller
  sentry_streams/Cargo.toml
Due: none

Make binary smaller (#329)
  sentry_streams/Cargo.toml
Due: none

release: 0.0.59
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

perf(streams): Debounce noisy MessageRejected backpressure logs
  sentry_streams/src/batch_step.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

perf(streams): Debounce noisy MessageRejected backpressure logs (#330)
  sentry_streams/src/batch_step.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

release: 0.0.60
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
