Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

feat(streams): Add topic name override for StreamSource and StreamSink
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
  sentry_streams/uv.lock
Due: mypy

Remove sentry_flink package (#253)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  platforms/flink/Dockerfile
  platforms/flink/README.md
  platforms/flink/docker-compose.yml
  scripts/flink-jar-download.sh
  sentry_flink/.envrc
  sentry_flink/.python-version
  sentry_flink/AGENTS.md
  sentry_flink/CLAUDE.md
  sentry_flink/README.md
  sentry_flink/mypy.ini
  sentry_flink/pyproject.toml
  sentry_flink/sentry_flink/__init__.py
  sentry_flink/sentry_flink/flink/__init__.py
  sentry_flink/sentry_flink/flink/flink_adapter.py
  sentry_flink/sentry_flink/flink/flink_translator.py
  sentry_flink/sentry_flink/flink_runtime/__init__.py
  sentry_flink/sentry_flink/flink_runtime/flink_api.py
  sentry_flink/sentry_flink/flink_runtime/flink_deploy.py
  sentry_flink/sentry_flink/flink_runtime/flink_stop.py
  sentry_flink/tests/README.md
  sentry_flink/tests/__init__.py
  sentry_flink/tests/adapters/__init__.py
  sentry_flink/tests/adapters/test_flink.py
  sentry_flink/tests/flink_runtime/test_api.py
  sentry_flink/tests/test_pipeline.py
  sentry_flink/tests/test_translator.py
  sentry_flink/uv.lock
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/deployment_config/test_flink.yaml
Due: none

Add dotagents
  .claude/skills
  .gitignore
  .pr-body-dotagents.md
  agents.toml
Due: none

Remove file
  .pr-body-dotagents.md
Due: none

fix(metrics): forward flush_interval_ms and udp_queue_size from yaml config to metrics backend
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
Due: mypy

fix(metrics): forward flush_interval_ms and udp_queue_size from yaml config (#265)
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
Due: mypy

release: 0.0.39
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

chore: Add dotagents configuration (#264)
  .claude/skills
  .gitignore
  agents.toml
Due: none

Update PyO3 from 0.24 to 0.28.2 for Python 3.14 support
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.toml
  sentry_streams/src/callers.rs
  sentry_streams/src/committable.rs
  sentry_streams/src/consumer.rs
  sentry_streams/src/gcs_writer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/metrics_config.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/routes.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/utils.rs
  sentry_streams/tests/rust_test_functions/Cargo.toml
  sentry_streams/uv.lock
  sentry_streams_k8s/pyproject.toml
Due: cargo-fmt

Fix allow_threads -> detach rename and remove unused build dep
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/ffi.rs
Due: cargo-fmt

Fix metrics naming
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/metrics.rs
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

feat: update PyO3 0.24 -> 0.28.2 for Python 3.14 support (#266)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.toml
  sentry_streams/src/callers.rs
  sentry_streams/src/committable.rs
  sentry_streams/src/consumer.rs
  sentry_streams/src/ffi.rs
  sentry_streams/src/gcs_writer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/metrics_config.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/routes.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/utils.rs
  sentry_streams/tests/rust_test_functions/Cargo.toml
  sentry_streams/uv.lock
  sentry_streams_k8s/pyproject.toml
Due: cargo-fmt

feat(metrics): Add log metrics backend and refactor with BufferedMetricsBackend
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

Fix rust prefix
  sentry_streams/src/metrics.rs
Due: cargo-fmt

fix(metrics): Mypy, duplicate tags, LogFlusher empty branch
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

feat(metrics): Fix metrics naming and add log metrics backend (#270)
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/metrics.rs
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

release: 0.0.40
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

upgrade
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/uv.lock
Due: none

Upgrade sentry-streams (#271)
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/uv.lock
Due: none

release: 0.0.5
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

feat(pipeline-step): Add runner log level support
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(pipeline-step): Add runner log level support (#272)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

release: 0.0.6
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

feat(k8s): allow container name overriding in PipelineStep (#254)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(k8s): add service_name label to k8s macro resources (#255)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(streams): Add topic name override for StreamSource and StreamSink (#257)
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
  sentry_streams/uv.lock
Due: mypy

feat(streams): Add consumer group override for StreamSource
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

feat(streams): Add consumer group override for StreamSource (#273)
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/changelog-preview.yml
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release-streams-k8s.yaml
  .github/workflows/release-streams.yaml
  .github/workflows/rust-ci.yaml
  .github/workflows/type-checking.yaml
Due: none

release: 0.41.0
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

release: 0.0.41
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Refactor metrics backend
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

Finish metrics implementation
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/deployment_config/parallel_processing.yaml
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

docs(metrics): Clarify backends and streams Metrics adapter
  sentry_streams/sentry_streams/metrics/metrics.py
Due: mypy

test(metrics): Annotate buffered backend helper for strict mypy
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

fix(metrics): Merge Datadog tags when per-call tags are empty dict
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

ref(metrics): Configure metrics from picklable StreamMetricsConfig
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/test_load_runtime.py
Due: mypy

Improve config types
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/test_runner.py
Due: mypy

ref(streams): Route adapter metrics through MetricsConfig only
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/test_load_runtime.py
  sentry_streams/tests/test_runner.py
Due: mypy
