Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

existing tests paass
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/pipeline/window.py
  sentry_streams/tests/adapters/arroyo/test_reduce_delegate.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

add
  sentry_streams/sentry_streams/examples/spans_buffer.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

add test for batch_timedelta override
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

remove
  sentry_streams/tests/test_pipeline.py
Due: mypy

add example
  sentry_streams/sentry_streams/deployment_config/simple_batching.yaml
  sentry_streams/sentry_streams/examples/simple_batching.py
Due: mypy

wip
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/src/main.rs
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/consumer.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/run.rs
Due: cargo-fmt, mypy

support timedelta kwargs
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/deployment_config/simple_batching.yaml
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

remove print
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
Due: mypy

add all
  sentry_streams/sentry_streams/deployment_config/simple_batching.yaml
  sentry_streams/sentry_streams/examples/simple_batching.py
Due: mypy

Update sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

address comments
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

remove unused
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

add raise value
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
Due: mypy

fix logic
  sentry_streams/src/messages.rs
  sentry_streams/tests/adapters/arroyo/test_reduce_delegate.py
Due: cargo-fmt, mypy

use the real TimedwinodwReduce
  sentry_streams/tests/test_pipeline.py
Due: mypy

feat(batch): TumblingWindow by batch time (#193)
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/deployment_config/simple_batching.yaml
  sentry_streams/sentry_streams/examples/simple_batching.py
  sentry_streams/sentry_streams/examples/spans_buffer.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/pipeline/window.py
  sentry_streams/tests/adapters/arroyo/test_reduce_delegate.py
  sentry_streams/tests/test_pipeline.py
Due: mypy

release: 0.0.26
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

add comment to yield_messages
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/messages.rs
  sentry_streams/tests/adapters/arroyo/helpers/delegate_helpers.py
  sentry_streams/tests/adapters/arroyo/test_reduce_delegate.py
Due: cargo-fmt, mypy

feat: add integration test for WatermarkEmitter
  sentry_streams/src/lib.rs
  sentry_streams/src/mocks.rs
  sentry_streams/src/time_helpers.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

wip
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/run.rs
Due: cargo-fmt

remove msg_type
  sentry_streams/docs/source/intro.rst
  sentry_streams/sentry_streams/examples/alerts.py
  sentry_streams/sentry_streams/examples/batching.py
  sentry_streams/sentry_streams/examples/billing.py
  sentry_streams/sentry_streams/examples/blq.py
  sentry_streams/sentry_streams/examples/parallel_processing.py
  sentry_streams/sentry_streams/examples/parquet_serializer.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/sentry_streams/examples/simple_batching.py
  sentry_streams/sentry_streams/examples/simple_map_filter.py
  sentry_streams/sentry_streams/examples/spans_buffer.py
  sentry_streams/sentry_streams/examples/transformer.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/adapters/arroyo/conftest.py
  sentry_streams/tests/adapters/arroyo/test_steps.py
  sentry_streams/tests/test_mypy_integration.py
Due: mypy

ref(typechecking): remove msg_type from instantiation arg (#196)
  sentry_streams/docs/source/intro.rst
  sentry_streams/sentry_streams/examples/alerts.py
  sentry_streams/sentry_streams/examples/batching.py
  sentry_streams/sentry_streams/examples/billing.py
  sentry_streams/sentry_streams/examples/blq.py
  sentry_streams/sentry_streams/examples/parallel_processing.py
  sentry_streams/sentry_streams/examples/parquet_serializer.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/sentry_streams/examples/simple_batching.py
  sentry_streams/sentry_streams/examples/simple_map_filter.py
  sentry_streams/sentry_streams/examples/spans_buffer.py
  sentry_streams/sentry_streams/examples/transformer.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/adapters/arroyo/conftest.py
  sentry_streams/tests/adapters/arroyo/test_steps.py
  sentry_streams/tests/test_mypy_integration.py
Due: mypy

remove unused
  sentry_streams/src/consumer.rs
Due: cargo-fmt

add
  sentry_streams/tests/test_mypy_integration.py
Due: mypy

fixes:
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/metrics.rs
  sentry_streams/src/metrics_config.rs
Due: cargo-fmt, mypy

fixes
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/rust_streams.pyi
Due: mypy

fixes
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/src/lib.rs
  sentry_streams/src/metrics_config.rs
  sentry_streams/tests/rust_test_functions/Cargo.lock
Due: cargo-fmt, mypy

move to localbroker
  .github/workflows/integration-tests.yaml
  Makefile
  sentry_streams/integration_tests/__init__.py
  sentry_streams/integration_tests/test_example_pipelines.py
  sentry_streams/sentry_streams/testing.py
  sentry_streams/tests/test_example_pipelines.py
Due: mypy

ref(comments): format comments (#197)
  sentry_streams/tests/test_mypy_integration.py
Due: mypy

comments
  sentry_streams/src/watermark.rs
  sentry_streams/uv.lock
Due: cargo-fmt

fixes
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/src/lib.rs
  sentry_streams/src/metrics_config.rs
  sentry_streams/tests/rust_test_functions/Cargo.lock
Due: cargo-fmt, mypy

fix
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/config.json
Due: mypy

try to log file name?
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

wip
  sentry_streams/src/consumer.rs
  sentry_streams/src/run.rs
Due: cargo-fmt

add change
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

make gcssink compile
  sentry_streams/src/operators.rs
Due: cargo-fmt

use build_chain
  sentry_streams/src/consumer.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

add all
  sentry_streams/sentry_streams/deployment_config/gcs_sink.yaml
  sentry_streams/sentry_streams/examples/gcs_sink.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt, mypy

add unit tests
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/src/metrics.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: cargo-fmt, mypy

feat: add integration test for WatermarkEmitter (#195)
  sentry_streams/src/consumer.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/mocks.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/time_helpers.rs
  sentry_streams/src/watermark.rs
  sentry_streams/uv.lock
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
