Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

testing commits
  sentry_streams/src/commit_policy.rs
Due: cargo-fmt

for debugging
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/commit_policy.rs
Due: cargo-fmt, mypy

for debugging
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

add loggin
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

all logging for ben
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/src/commit_policy.rs
Due: cargo-fmt, mypy

TryFrom Watermark instead of PyWatermark
  sentry_streams/src/messages.rs
Due: cargo-fmt

more logs for ben
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

yet more log
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

update watermark docs
  sentry_streams/docs/source/runtime/arroyo.rst
  sentry_streams/uv.lock
Due: none

return err instead of panicking
  sentry_streams/src/messages.rs
Due: cargo-fmt

fix: TryFrom Watermark instead of PyWatermark (#209)
  sentry_streams/src/messages.rs
Due: cargo-fmt

remove logging
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/commit_policy.rs
Due: cargo-fmt, mypy

fix
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

chore(ci): Try to fix macos builds
  .github/workflows/build-streams.yaml
Due: none

try to simplify
  .github/workflows/build-streams.yaml
Due: none

chore(ci): Try to fix macos builds (#210)
  .github/workflows/build-streams.yaml
Due: none

remove log that spams
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

remove all unnec logs
  sentry_streams/sentry_streams/pipeline/msg_codecs.py
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt, mypy

remove all unnec logging
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/sentry_streams/pipeline/msg_codecs.py
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt, mypy

ref(gcs_writer): use gcp_auth but not prod ready (#208)
  README.md
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/gcs_writer.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

release: 0.0.33
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Set up pyspy
  sentry_streams/bin/pyspy_runner
  sentry_streams/bin/runner
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

Add application
  sentry_streams/sentry_streams/deployment_config/profile_example.yaml
  sentry_streams/sentry_streams/examples/profile_example.py
  sentry_streams/sentry_streams/examples/transform_profiles.py
  sentry_streams/uv.lock
Due: mypy

Add datadog
  sentry_streams/sentry_streams/deployment_config/profile_example.yaml
Due: none

Kafka config
  sentry_streams/sentry_streams/deployment_config/profile_example.yaml
Due: none

Add docker
  sentry_streams/.dockerignore
  sentry_streams/Dockerfile
  sentry_streams/docker_entrypoint.sh
  sentry_streams/pyproject.toml
Due: none

Try multiprocess
  sentry_streams/bin/pyspy_runner
  sentry_streams/sentry_streams/deployment_config/profile_example.yaml
Due: none

HAck to fix multiprocess
  sentry_streams/sentry_streams/adapters/arroyo/multi_process_delegate.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/sentry_streams/adapters/arroyo/wrappers.py
  sentry_streams/sentry_streams/deployment_config/profile_example.yaml
  sentry_streams/sentry_streams/deployment_config/simple_map_filter.yaml
  sentry_streams/sentry_streams/examples/profile_example.py
  sentry_streams/src/sinks.rs
Due: cargo-fmt, mypy

Upgrade datadog and enable background sender
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/uv.lock
Due: mypy

fix mypy
  sentry_streams/sentry_streams/metrics/metrics.py
Due: mypy

Upgrade datadog and enable background sender (#211)
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/uv.lock
Due: mypy

chore: Move to metrics-exporter-statsd
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/metrics.rs
Due: cargo-fmt

so what, it takes more than 5 minutes.
  .github/workflows/type-checking.yaml
Due: none

make buffer size and queue size configurable
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/metrics.rs
  sentry_streams/src/metrics_config.rs
Due: cargo-fmt, mypy

fix: Refresh GCP auth token on expiry
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

fix errorhandling
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

remove ai slop
  sentry_streams/src/metrics.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
