Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

add comment
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

add logging file name
  sentry_streams/sentry_streams/examples/gcs_sink.py
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt, mypy

feat(watermarks): add watermark support to the ArroyoStrategyDelegate (#190)
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/committable.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/tests/adapters/arroyo/helpers/delegate_helpers.py
  sentry_streams/tests/adapters/arroyo/helpers/message_helpers.py
  sentry_streams/tests/adapters/arroyo/test_delegate.py
  sentry_streams/tests/adapters/arroyo/test_multi_process_delegate.py
  sentry_streams/tests/adapters/arroyo/test_reduce_delegate.py
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
Due: cargo-fmt, mypy

revert
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

feat(rust): Provide a rust runner to start consumer in CLI in rust
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/src/main.rs
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/lib.rs
  sentry_streams/src/run.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

fix
  sentry_streams/uv.lock
Due: none

ignore type check
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
Due: mypy

add unit test
  sentry_streams/tests/rust_test_functions/Cargo.lock
  sentry_streams/tests/test_pipeline.py
Due: mypy

fix typing
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

add test
  sentry_streams/tests/test_pipeline.py
Due: mypy

fix typing
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

Initial implementation of GRPC server
  .pre-commit-config.yaml
  flink_worker/README.md
  flink_worker/flink_worker/__init__.py
  flink_worker/flink_worker/client.py
  flink_worker/flink_worker/flink_worker_pb2.py
  flink_worker/flink_worker/flink_worker_pb2_grpc.py
  flink_worker/flink_worker/server.py
  flink_worker/flink_worker/service.py
  flink_worker/flink_worker/test_service.py
  flink_worker/pyproject.toml
  protos/flink_worker.proto
Due: none

Add The java bridge
  flink_bridge/.idea/compiler.xml
  flink_bridge/.idea/encodings.xml
  flink_bridge/.idea/jarRepositories.xml
  flink_bridge/.idea/misc.xml
  flink_bridge/.idea/vcs.xml
  flink_bridge/.idea/workspace.xml
  flink_bridge/CLI_README.md
  flink_bridge/README.md
  flink_bridge/dependency-reduced-pom.xml
  flink_bridge/flink-bridge.iml
  flink_bridge/input.txt
  flink_bridge/pom.xml
  flink_bridge/run-cli.sh
  flink_bridge/src/main/java/com/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/GrpcCliApp.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/GrpcClient.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/SimpleGrpcTest.java
  flink_worker/flink_worker/service.py
Due: none

Add tests
  .vscode/settings.json
  flink_bridge/.idea/workspace.xml
  flink_bridge/pom.xml
  flink_bridge/src/main/java/com/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/GrpcCliApp.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/GrpcClient.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/GrpcMessageProcessor.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/SimpleGrpcTest.java
  flink_bridge/src/test/README.md
  flink_bridge/src/test/java/com/sentry/flink_bridge/BasicTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/GrpcMessageProcessorTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/MockGrpcClient.java
  flink_bridge_readme.md
Due: none

Pass messages around
  flink_bridge/dependency-reduced-pom.xml
  flink_bridge/pom.xml
  flink_bridge/src/main/java/com/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/GrpcMessageProcessor.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/Message.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/StringDeserializer.java
  flink_bridge/src/main/java/com/sentry/flink_bridge/StringSerializer.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/BasicTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/GrpcMessageProcessorTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/MessageTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/StringDeserializerTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/StringSerializerTest.java
  flink_bridge/src/test/java/com/sentry/flink_bridge/TestUtils.java
  flink_worker/flink_worker/service.py
Due: none

Move package to io.sentry
  flink_bridge/dependency-reduced-pom.xml
  flink_bridge/pom.xml
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcCliApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcClient.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcMessageProcessor.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/Message.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/SimpleGrpcTest.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/StringDeserializer.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/StringSerializer.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/BasicTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/GrpcMessageProcessorTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/MessageTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/MockGrpcClient.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/StringDeserializerTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/StringSerializerTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/TestUtils.java
Due: none

Add watermarks
  flink_bridge/dependency-reduced-pom.xml
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcClient.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcMessageProcessor.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/StringDeserializer.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/StringSerializer.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/WatermarkEmitter.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/GrpcMessageProcessorTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/MockGrpcClient.java
  flink_worker/flink_worker/client.py
  flink_worker/flink_worker/flink_worker_pb2.py
  flink_worker/flink_worker/flink_worker_pb2_grpc.py
  flink_worker/flink_worker/service.py
  flink_worker/flink_worker/test_service.py
  protos/flink_worker.proto
Due: none

Adding a state
  flink_bridge/src/main/java/io/sentry/flink_bridge/CustomPostProcessor.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
Due: none

Add window management
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcClient.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/WatermarkEmitter.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/WindowProcessing.java
  flink_worker/flink_worker/flink_worker_pb2.py
  flink_worker/flink_worker/flink_worker_pb2_grpc.py
  flink_worker/flink_worker/service.py
  protos/flink_worker.proto
Due: none

Make paths absolute
  flink_worker/README.md
  flink_worker/flink_worker/__init__.py
  flink_worker/flink_worker/client.py
  flink_worker/flink_worker/flink_worker_pb2.py
  flink_worker/flink_worker/flink_worker_pb2_grpc.py
  flink_worker/flink_worker/server.py
  flink_worker/flink_worker/service.py
  flink_worker/flink_worker/test_service.py
  protos/flink_worker/flink_worker.proto
Due: none

Add Segments abstraction
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcCliApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcClient.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/GrpcMessageProcessor.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/TestData.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/WatermarkEmitter.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/BasicTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/GrpcMessageProcessorTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/MockGrpcClient.java
  flink_worker/flink_worker/app_segments.py
  flink_worker/flink_worker/segment.py
  flink_worker/flink_worker/server.py
  flink_worker/flink_worker/service.py
  flink_worker/flink_worker/test_app_segments.py
  flink_worker/flink_worker/test_service.py
Due: none

Window segments
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/WatermarkEmitter.java
  flink_worker/flink_worker/app_segments.py
  flink_worker/flink_worker/segment.py
  flink_worker/flink_worker/server.py
Due: none

Add adapter to generate the GRPC service
  flink_worker/flink_worker/client.py
  flink_worker/flink_worker/flink_worker_pb2.py
  flink_worker/flink_worker/flink_worker_pb2_grpc.py
  flink_worker/flink_worker/py.typed
  flink_worker/flink_worker/service.py
  flink_worker/mypy.ini
  flink_worker/pyproject.toml
  flink_worker/uv.lock
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/adapters/__init__.py
  sentry_streams/sentry_streams/adapters/grpc_worker/__init__.py
  sentry_streams/sentry_streams/adapters/grpc_worker/adapter.py
  sentry_streams/sentry_streams/adapters/grpc_worker/chain.py
  sentry_streams/sentry_streams/adapters/grpc_worker/chain_builder.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/deployment_config/simple_map_filter_grpc.yaml
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/adapters/grpc_worker/__init__.py
  sentry_streams/tests/adapters/grpc_worker/test_adapter.py
  sentry_streams/tests/adapters/grpc_worker/test_chain.py
  sentry_streams/tests/rust_test_functions/Cargo.lock
  sentry_streams/tests/test_flink_worker_imports.py
  sentry_streams/uv.lock
Due: mypy

Wire it up to JAva
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/TestData.java
  sentry_streams/sentry_streams/adapters/grpc_worker/chain.py
Due: mypy

Add batching
  flink_worker/flink_worker/client.py
  sentry_streams/sentry_streams/adapters/grpc_worker/adapter.py
  sentry_streams/sentry_streams/adapters/grpc_worker/chain.py
  sentry_streams/sentry_streams/adapters/grpc_worker/chain_builder.py
  sentry_streams/sentry_streams/deployment_config/simple_batching_grpc.yaml
Due: mypy

Add Flink pipeline parser and worker integration
  flink_bridge/PIPELINE_PARSER_README.md
  flink_bridge/demo_parser.sh
  flink_bridge/example_pipeline.yaml
  flink_bridge/pom.xml
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/PipelineParser.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/PipelineStep.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/WatermarkEmitter.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/PipelineParserTest.java
  flink_worker/flink_worker/service.py
  sentry_streams/sentry_streams/adapters/flink_pipeline/__init__.py
  sentry_streams/sentry_streams/adapters/flink_pipeline/adapter.py
  sentry_streams/sentry_streams/adapters/grpc_worker/adapter.py
  sentry_streams/sentry_streams/adapters/grpc_worker/chain.py
  sentry_streams/sentry_streams/adapters/grpc_worker/chain_builder.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/runner.py
Due: mypy

Fix source name
  sentry_streams/sentry_streams/adapters/flink_pipeline/adapter.py
  sentry_streams/sentry_streams/adapters/grpc_worker/adapter.py
Due: mypy

Some docs
  flink_bridge_readme.md
Due: none

Broken Kafka SInk
  flink_bridge/pom.xml
  flink_bridge/src/main/java/io/sentry/flink_bridge/FlinkGrpcApp.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/Pipeline.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/PipelineParser.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/Sink.java
  flink_bridge/src/main/java/io/sentry/flink_bridge/Source.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/GrpcMessageProcessorTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/PipelineParserTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/StringDeserializerTest.java
  flink_bridge/src/test/java/io/sentry/flink_bridge/StringSerializerTest.java
  sentry_streams/sentry_streams/adapters/flink_pipeline/adapter.py
  sentry_streams/sentry_streams/adapters/grpc_worker/adapter.py
Due: mypy

ref(metrics): Add metrics for tracking pipeline status (#184)
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/pipeline.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/metrics/__init__.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/metrics.rs
  sentry_streams/src/metrics_config.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/rust_test_functions/Cargo.lock
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

remove sink config
  sentry_streams/sentry_streams/deployment_config/gcs_sink.yaml
Due: none

fix(gcssink): add working example + logging file name (#198)
  sentry_streams/sentry_streams/deployment_config/gcs_sink.yaml
  sentry_streams/sentry_streams/examples/gcs_sink.py
  sentry_streams/src/gcs_writer.rs
  sentry_streams/src/operators.rs
  sentry_streams/tests/test_pipeline.py
Due: cargo-fmt, mypy

release: 0.0.27
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(rust): Provide a rust runner to start consumer in CLI in rust
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/src/main.rs
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/lib.rs
  sentry_streams/src/run.rs
Due: cargo-fmt, mypy

feat(rust): Provide a rust runner to start consumer in CLI in rust (#194)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.toml
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/src/main.rs
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/lib.rs
  sentry_streams/src/run.rs
Due: cargo-fmt, mypy

fix(python_adapter): retrieve messages as Sequence
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/src/python_operator.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

add logging of bytes lenfth
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

better in/out transformers
  sentry_streams/src/python_operator.rs
Due: cargo-fmt
