Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

trim down diff further
  sentry_streams/src/metrics.rs
Due: cargo-fmt

cleanup
  sentry_streams/src/metrics.rs
Due: cargo-fmt

address review
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

chore: Move to metrics-exporter-statsd (#212)
  .github/workflows/type-checking.yaml
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/metrics.rs
  sentry_streams/src/metrics_config.rs
Due: cargo-fmt, mypy

improve error handling (unrelated to gcp auth)
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

fix compilation
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

fix(gcs_writer): Refresh GCP auth token on expiry (#213)
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

ref: Bump arroyo
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
Due: none

fixup
  sentry_streams/Cargo.lock
  sentry_streams/src/metrics.rs
  sentry_streams/uv.lock
Due: cargo-fmt

clean up gcs-upload-test
  sentry_streams/Cargo.toml
  sentry_streams/src/bin/gcs-upload-test.rs
Due: cargo-fmt

ref: Bump arroyo, fix up dependencies (#214)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/src/bin/gcs-upload-test.rs
  sentry_streams/src/metrics.rs
  sentry_streams/uv.lock
Due: cargo-fmt

release: 0.0.34
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

i think i added python sentry
  sentry_streams/sentry_streams/runner.py
Due: mypy

fix: Log high-level errors from arroyo StreamProcessor
  sentry_streams/src/consumer.rs
Due: cargo-fmt

fix: Verify transform chains are picklable for multiprocessing
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
Due: mypy

refactor: Add validation methods and batch_timedelta default
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

feat: Extract metrics wrapper and add config validation to adapter
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

test: Use module-level functions for steps_chain tests
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
Due: mypy

chore: Update Cargo.lock dependencies
  sentry_streams/tests/rust_test_functions/Cargo.lock
Due: none

test: Update batch step test for new default
  sentry_streams/tests/test_pipeline.py
Due: mypy

chore: Improve release debuginfo
  sentry_streams/Cargo.toml
Due: none

Move to dogstatsd exporter
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/metrics.rs
Due: cargo-fmt

fix configuration of dogstatsd backend
  sentry_streams/src/metrics.rs
  sentry_streams/src/metrics_config.rs
Due: cargo-fmt

fix up parameters in python too
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/rust_streams.pyi
Due: mypy

post-init removed
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

add comment
  sentry_streams/Cargo.toml
Due: none

fix test
  sentry_streams/tests/test_pipeline.py
Due: mypy

placate mypy
  sentry_streams/tests/test_pipeline.py
Due: mypy

ref: Random fixes from profiling SBC (#216)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/metrics.rs
  sentry_streams/src/metrics_config.rs
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
  sentry_streams/tests/rust_test_functions/Cargo.lock
  sentry_streams/tests/test_pipeline.py
Due: cargo-fmt, mypy

Expose the steps from the rust code
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

Demonstrate it does not work
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
Due: mypy

Finalize the chain when sink is missing
  sentry_flink/sentry_flink/flink/flink_adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/rust_test_functions/Cargo.lock
Due: mypy

Close one branch at a time
  sentry_flink/sentry_flink/flink/flink_adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/runner.py
Due: mypy

Update manylinux
  .github/workflows/build-streams.yaml
Due: none

Revert manylinux
  .github/workflows/build-streams.yaml
Due: none

linux 2_28
  .github/workflows/build-streams.yaml
Due: none

Add new package
  .github/workflows/build-streams-k8s.yaml
  .github/workflows/ci.yaml
  .github/workflows/release-streams-k8s.yaml
  .pre-commit-config.yaml
  Makefile
  sentry_streams_k8s/.python-version
  sentry_streams_k8s/README.md
  sentry_streams_k8s/mypy.ini
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/py.typed
  sentry_streams_k8s/tests/__init__.py
  sentry_streams_k8s/tests/test_basic.py
Due: none

ci(release): Switch from action-prepare-release to Craft
  .github/workflows/changelog-preview.yml
  .github/workflows/release-streams.yaml
Due: none

ci(release): Restore GitHub App token authentication
  .github/workflows/release-streams.yaml
Due: none

Add the simple Macro
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/consumer.py
  sentry_streams_k8s/tests/test_basic.py
  sentry_streams_k8s/tests/test_consumer.py
  sentry_streams_k8s/uv.lock
Due: none

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
