Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

feat(arroyo): allow external shutdowns
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/src/consumer.rs
Due: cargo-fmt, mypy

deploy: f6ee2613778efe22a1a23d6d28722074da422ab5
  .doctrees/environment.pickle
Due: none

Add Fake consumer
  sentry_streams/Cargo.toml
  sentry_streams/integration_tests/test_fake_source.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/deployment_config/fake_source.yaml
  sentry_streams/sentry_streams/examples/fake_source.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/fake_consumer.rs
  sentry_streams/src/lib.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/rust_test_functions/Cargo.lock
  sentry_streams/tests/test_pipeline.py
  sentry_streams/uv.lock
  sentry_streams_k8s/uv.lock
Due: cargo-fmt, mypy

Remove additional factory
  sentry_streams/src/consumer.rs
Due: cargo-fmt

Unify the kafka config
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/fake_source.py
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/sentry_streams/examples/transform_metrics.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/consumer_config.rs
  sentry_streams/src/fake_consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/lib.rs
  sentry_streams/tests/test_dlq.py
Due: cargo-fmt, mypy

ref(operator): restructure modules
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/tests/test_operator.py
Due: none

ref(operator): use pipeline prefix
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
Due: none

ref(operator): use generated clients
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/tests/test_operator.py
Due: none

ref(render): render pod sets or deployments
  sentry_streams_k8s/sentry_streams_k8s/constants.py
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/streaming_pipeline.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

fix(operator): use logger.exception
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
Due: none

ref(operator): daemon-based reconcile
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/sentry_streams_k8s/k8s_types.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/tests/test_operator.py
Due: none

ref(operator): improve pod_health doc
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
Due: none

feat(operator): pod health, status, and resources
  sentry_streams_k8s/sentry_streams_k8s/k8s_types.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_resources.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_status.py
  sentry_streams_k8s/tests/k8s_fixtures.py
  sentry_streams_k8s/tests/test_pod_health.py
  sentry_streams_k8s/tests/test_pods.py
  sentry_streams_k8s/tests/test_status.py
Due: none

ref(operator): handle unschedulable
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
  sentry_streams_k8s/tests/test_pod_health.py
Due: none

ref(operator): compare age tzinfo
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
Due: none

ref(operator): better wait handling
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
  sentry_streams_k8s/tests/test_pod_health.py
Due: none

fix(tests): pipeline prefix in tests
  sentry_streams_k8s/tests/test_pods.py
Due: none

ref(operator): extract reconcile and use generated clients (#355)
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/tests/test_operator.py
Due: none

ref(operator): daemon-based reconcile (#357)
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/sentry_streams_k8s/k8s_types.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/tests/test_operator.py
Due: none

ref(render): render pod sets or deployments (#356)
  sentry_streams_k8s/sentry_streams_k8s/constants.py
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/streaming_pipeline.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

feat(operator): pod health, status, and resources (#358)
  sentry_streams_k8s/sentry_streams_k8s/k8s_types.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_resources.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_status.py
  sentry_streams_k8s/tests/k8s_fixtures.py
  sentry_streams_k8s/tests/test_pod_health.py
  sentry_streams_k8s/tests/test_pods.py
  sentry_streams_k8s/tests/test_status.py
Due: none

deploy: d4e1902f6fa06921f04400fc01dd7478f2713fc4
  .doctrees/environment.pickle
Due: none

Update index.yaml
  index.yaml
Due: none

feat(operator): pod management
  sentry_streams_k8s/sentry_streams_k8s/operator/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_health.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_status.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/sentry_streams_k8s/operator/streaming_pipeline.py
  sentry_streams_k8s/tests/k8s_fixtures.py
  sentry_streams_k8s/tests/test_operator.py
  sentry_streams_k8s/tests/test_pods.py
  sentry_streams_k8s/tests/test_streaming_pipeline.py
Due: none

feat(operator): control server and generic runner
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/control.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/sentry_streams/server/__init__.py
  sentry_streams/sentry_streams/server/control_server.py
  sentry_streams/src/consumer.rs
  sentry_streams/src/run.rs
  sentry_streams/tests/adapters/arroyo/test_adapter.py
  sentry_streams/tests/adapters/fake_adapter.py
  sentry_streams/tests/test_control.py
  sentry_streams/tests/test_control_server.py
  sentry_streams/tests/test_runner.py
Due: cargo-fmt, mypy

ref(controller): use ThreadPoolExecutor + Future
  sentry_streams/sentry_streams/control.py
  sentry_streams/tests/test_control.py
Due: mypy

chore(controller): better docstring
  sentry_streams/sentry_streams/control.py
Due: mypy

ref(controller): exception semantics
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/control.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/sentry_streams/server/control_server.py
  sentry_streams/tests/adapters/arroyo/test_adapter.py
  sentry_streams/tests/test_control.py
  sentry_streams/tests/test_runner.py
Due: mypy

chore(server): better docstring
  sentry_streams/sentry_streams/server/control_server.py
Due: mypy

ref(controller): redundant request_stop
  sentry_streams/sentry_streams/runner.py
Due: mypy

feat(operator): static membership v2
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/stream_adapter.py
  sentry_streams/sentry_streams/control.py
  sentry_streams/sentry_streams/dummy/dummy_adapter.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/sentry_streams/server/control_server.py
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/tests/adapters/fake_adapter.py
  sentry_streams/tests/test_control_server.py
Due: cargo-fmt, mypy

feat(operator): pod handoff
  .pre-commit-config.yaml
  sentry_streams_k8s/chart/streaming-operator/templates/_helpers.tpl
  sentry_streams_k8s/chart/streaming-operator/templates/deployment.yaml
  sentry_streams_k8s/chart/streaming-operator/values.yaml
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/sentry_streams_k8s/operator/constants.py
  sentry_streams_k8s/sentry_streams_k8s/operator/control_client.py
  sentry_streams_k8s/sentry_streams_k8s/operator/operator.py
  sentry_streams_k8s/sentry_streams_k8s/operator/pod_resources.py
  sentry_streams_k8s/sentry_streams_k8s/operator/reconcile.py
  sentry_streams_k8s/sentry_streams_k8s/operator/streaming_pipeline.py
  sentry_streams_k8s/tests/k8s_fixtures.py
  sentry_streams_k8s/tests/test_operator.py
  sentry_streams_k8s/tests/test_pipeline_step.py
  sentry_streams_k8s/tests/test_pods.py
Due: none

Fix build
  sentry_streams/sentry_streams/examples/rust_simple_map_filter/rust_transforms/Cargo.lock
  sentry_streams/src/dev_null_sink.rs
  sentry_streams/src/fake_consumer.rs
  sentry_streams/tests/rust_test_functions/Cargo.lock
Due: cargo-fmt

ci: Remove disabled changelog-preview workflow
  .github/workflows/changelog-preview.yml
Due: none

ci: Remove disabled changelog-preview workflow (#364)
  .github/workflows/changelog-preview.yml
Due: none

deploy: 39209793b620051701ca67495e0cebe3b090fd23
  .doctrees/environment.pickle
Due: none

Start building new adapter stages.
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/lib.rs
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/stages/batch.rs
  sentry_streams/src/pull/stages/header_filter.rs
  sentry_streams/src/pull/stages/mod.rs
Due: cargo-fmt

Define rust / python boundary. Add requisite canned stages.
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/pull/gcs_client.rs
  sentry_streams/src/pull/gcs_sink_handler.rs
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pipeline_value.rs
  sentry_streams/src/pull/stages/batch.rs
  sentry_streams/src/pull/stages/header_filter.rs
  sentry_streams/src/pull/stages/mod.rs
  sentry_streams/src/pull/stages/py_callable.rs
Due: cargo-fmt

Adapter draft.
  sentry_streams/sentry_streams/adapters/arroyo/pull_adapter.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/src/lib.rs
  sentry_streams/src/pull/mod.rs
Due: cargo-fmt, mypy

Formalize up SBC stages with tests.
  sentry_streams/sentry_streams/adapters/arroyo/pull_adapter.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/lib.rs
  sentry_streams/src/pull/gcs_client.rs
  sentry_streams/src/pull/gcs_sink_handler.rs
  sentry_streams/src/pull/message_wrapper.rs
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pipeline_sink.rs
  sentry_streams/src/pull/pipeline_stage.rs
  sentry_streams/src/pull/pipeline_value_converter.rs
  sentry_streams/src/pull/pull_consumer.rs
  sentry_streams/src/pull/pull_operator.rs
  sentry_streams/src/pull/pull_source.rs
  sentry_streams/src/pull/stages/py_callable.rs
  sentry_streams/tests/adapters/arroyo/test_pull_adapter.py
Due: cargo-fmt, mypy
