Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

handle cancellation
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pull_consumer.rs
  sentry_streams/src/pull/pull_source.rs
Due: cargo-fmt

Rebuild pipeline on rebalance.
  sentry_streams/Cargo.lock
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pipeline_sink.rs
  sentry_streams/src/pull/pull_consumer.rs
  sentry_streams/src/pull/pull_operator.rs
  sentry_streams/src/pull/pull_source.rs
  sentry_streams/tests/adapters/arroyo/test_pull_adapter.py
Due: cargo-fmt, mypy

Cleanup.
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pipeline_stage.rs
  sentry_streams/src/pull/pipeline_value.rs
  sentry_streams/src/pull/stages/batch.rs
  sentry_streams/src/pull/stages/header_filter.rs
  sentry_streams/src/pull/stages/py_callable.rs
Due: cargo-fmt

Always signal drain on pipeline complete regardless of outcome.
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pull_consumer.rs
  sentry_streams/src/pull/pull_source.rs
Due: cargo-fmt

Revert draining on rebalance.
  sentry_streams/src/pull/mod.rs
  sentry_streams/src/pull/pull_consumer.rs
  sentry_streams/src/pull/pull_source.rs
Due: cargo-fmt

Update schemas
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

Update kafka schemas (#369)
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

deploy: 891986cee703ab3469a96a58a8ebdd05b52ef791
  .doctrees/environment.pickle
Due: none

release: 0.0.63
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Allow skipping validation
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/metrics/stats.py
  sentry_streams/sentry_streams/pipeline/msg_codecs.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/metrics/test_stats.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/pipeline/test_msg_codecs.py
Due: mypy

release: 0.0.64
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Allow skipping validation (#370)
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/metrics/stats.py
  sentry_streams/sentry_streams/pipeline/msg_codecs.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/metrics/test_stats.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/pipeline/test_msg_codecs.py
Due: mypy

deploy: 04dcb4480a4bb41888ae1ec6c7a00a0bc38b5e91
  .doctrees/build_pipeline.doctree
  .doctrees/environment.pickle
  build_pipeline.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

release: 0.0.65
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Avoid naming overflow in k8s
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Avoid naming overflow in k8s (#372)
  sentry_streams_k8s/sentry_streams_k8s/consumer_builder.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

release: 0.0.10
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

deploy: 1f70fe88220b441e0d977bbb63ed537a97ac8c49
  .doctrees/environment.pickle
Due: none

Update index.yaml
  index.yaml
Due: none

ref(ci): use scoped image-push service account
  .github/workflows/build-operator.yaml
Due: none

ref(ci): use scoped image-push service account (#374)
  .github/workflows/build-operator.yaml
Due: none

deploy: 571381de58869c7f2e1bdc34d278770a2eb8d750
  .doctrees/environment.pickle
Due: none

docs(arrow): design plan for the Rust Arrow batch parser
  sentry_streams/docs/design/arrow-batch-parser.md
Due: none

feat(arrow): add Arrow batch parser dependencies (phase 0)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/lib.rs
Due: cargo-fmt

feat(arrow): expose RecordBatch to Python via PyCapsule (phase 1)
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/lib.rs
  sentry_streams/src/py_record_batch.rs
Due: cargo-fmt

refactor(arrow): generalize BatchStep over a flush producer (phase 2)
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

feat(arrow): protobuf to Arrow extractors, TraceItem (phase 3)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/src/extractors/mod.rs
  sentry_streams/src/extractors/trace_item.rs
  sentry_streams/src/lib.rs
Due: cargo-fmt

feat(arrow): the Arrow batch parser step (phase 4)
  sentry_streams/src/arrow_batch_parser.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/py_record_batch.rs
Due: cargo-fmt

feat(arrow): DSL and adapter wiring for ArrowBatchParser (phase 5)
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/__init__.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/tests/adapters/arroyo/test_arrow_batch_parser.py
Due: cargo-fmt, mypy

feat(arrow): example, end-to-end test, benchmark and docs (phase 6)
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/docs/source/arrow_batch_parser.rst
  sentry_streams/docs/source/index.rst
  sentry_streams/sentry_streams/deployment_config/arrow_trace_items.yaml
  sentry_streams/sentry_streams/examples/arrow_trace_items.py
  sentry_streams/src/arrow_batch_parser.rs
Due: cargo-fmt, mypy

ref(streams): Make RoutedValuePayload matches exhaustive
  sentry_streams/src/filter_step.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/routers.rs
  sentry_streams/src/transformer.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

ref(streams): Make RawMessage payload an Arc and drop dead message code
  sentry_streams/src/consumer.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/testutils.rs
Due: cargo-fmt

feat(streams): Add a Rust-native payload variant to RoutedValuePayload
  sentry_streams/src/batch_step.rs
  sentry_streams/src/callers.rs
  sentry_streams/src/dev_null_sink.rs
  sentry_streams/src/fake_strategy.rs
  sentry_streams/src/filter_step.rs
  sentry_streams/src/gcs_writer.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/routers.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/transformer.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

refactor(arrow): drop the adapter's placement and schema tracking
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/docs/source/arrow_batch_parser.rst
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/arrow_trace_items.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/adapters/arroyo/test_arrow_batch_parser.py
Due: mypy

perf(streams): Emit Rust-owned messages from the Kafka source
  sentry_streams/src/consumer.rs
Due: cargo-fmt

refactor(arrow): drop recursive attribute values instead of JSON-encoding them
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/docs/source/arrow_batch_parser.rst
  sentry_streams/src/extractors/trace_item.rs
Due: cargo-fmt

test(arrow): drop the phase 0 dependency wiring scaffolding
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/src/extractors/mod.rs
  sentry_streams/src/lib.rs
Due: cargo-fmt

refactor(arrow): hand the batch to Python as Arrow IPC bytes
  sentry_streams/docs/design/arrow-batch-parser.md
  sentry_streams/docs/source/arrow_batch_parser.rst
  sentry_streams/sentry_streams/examples/arrow_trace_items.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/arrow_batch_parser.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/py_record_batch.rs
Due: cargo-fmt, mypy

Fix commit
  sentry_streams/src/arrow_batch_parser.rs
Due: cargo-fmt
