Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

also teardown arroyo backend
  sentry_streams/tests/test_load_runtime.py
Due: mypy

type checking
  sentry_streams/tests/test_load_runtime.py
Due: mypy

remove redundant try
  sentry_streams/sentry_streams/runner.py
Due: mypy

feat(sentry_integration): exec app in subprocess (#217)
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/run.rs
  sentry_streams/tests/fixtures/missing_pipeline.py
  sentry_streams/tests/fixtures/simple_app.py
  sentry_streams/tests/fixtures/test_config.yaml
  sentry_streams/tests/test_load_runtime.py
Due: cargo-fmt, mypy

Add automatic scalar overwrite detection in deepmerge
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/merge.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_merge.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Fix policy on the base template
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

feat(pipeline_step): Add emergency patch support for deployment overrides
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

chore: Remove unnecessary comments per code review
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

feat(pipeline_step): Add emergency patch support for deployments (#233)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Add replicas parameter to PipelineStep macro (#231)
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/merge.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_merge.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Clean up comments
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

feat(k8s): Add multi-processing support to PipelineStep macro (#232)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

release: 0.0.3
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

Add optional liveness probe and health volume to PipelineStep manifest
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Address PR review: shared /tmp for liveness and multiprocess, deduplicate multiprocess_enabled
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Fix existing liveness probe
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Add optional liveness probe and health volume to PipelineStep manifest (#234)
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

release: 0.0.4
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

feat(config): pipeline config env var overrides and config module
  sentry_streams/docs/source/configure_pipeline.rst
  sentry_streams/sentry_streams/deployment_config/envvars.yaml
  sentry_streams/sentry_streams/pipeline/config.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/fixtures/config_with_envvar.yaml
  sentry_streams/tests/pipeline/test_config.py
Due: mypy

feat(sentry_streams): pipeline healthcheck support for Arroyo consumer
  sentry_streams/docs/source/configure_pipeline.rst
  sentry_streams/mypy.ini
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/deployment_config/README.md
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/test_runner.py
Due: cargo-fmt, mypy

Address comments
  sentry_streams/docs/source/configure_pipeline.rst
  sentry_streams/mypy.ini
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/deployment_config/README.md
  sentry_streams/src/consumer.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/adapters/arroyo/test_rust_arroyo.py
  sentry_streams/tests/test_runner.py
Due: cargo-fmt, mypy

Add example
  sentry_streams/sentry_streams/deployment_config/simple_map_filter.yaml
Due: none

feat(sentry_streams): pipeline healthcheck support for Arroyo consumer (#236)
  sentry_streams/docs/source/configure_pipeline.rst
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/adapters/loader.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/deployment_config/README.md
  sentry_streams/sentry_streams/deployment_config/simple_map_filter.yaml
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt, mypy

test metrics
  sentry_streams/sentry_streams/deployment_config/simple_map_filter.yaml
  sentry_streams/src/metrics.rs
Due: cargo-fmt

feat(config): pipeline config env var overrides and config module (#235)
  sentry_streams/docs/source/configure_pipeline.rst
  sentry_streams/sentry_streams/deployment_config/envvars.yaml
  sentry_streams/sentry_streams/pipeline/config.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/fixtures/config_with_envvar.yaml
  sentry_streams/tests/pipeline/test_config.py
Due: mypy

release: 0.0.36
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Upgrade arroyo
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

Upgrade Arroyo in the Stream library (#237)
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

release: 0.0.37
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Enable ssl
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/uv.lock
Due: none

Ensure openssl is on the github action runner
  .github/workflows/build-streams.yaml
Due: none

Enable SSL mode for arroyo rust (#238)
  .github/workflows/build-streams.yaml
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/uv.lock
Due: none

Increase build timeout
  .github/workflows/build-streams.yaml
Due: none

release: 0.0.38
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Increase build timeout (#245)
  .github/workflows/build-streams.yaml
Due: none

Remove sentry_flink package
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  platforms/flink/Dockerfile
  platforms/flink/README.md
  platforms/flink/docker-compose.yml
  scripts/flink-jar-download.sh
  sentry_flink/.envrc
  sentry_flink/.python-version
  sentry_flink/AGENTS.md
  sentry_flink/CLAUDE.md
  sentry_flink/README.md
  sentry_flink/mypy.ini
  sentry_flink/pyproject.toml
  sentry_flink/sentry_flink/__init__.py
  sentry_flink/sentry_flink/flink/__init__.py
  sentry_flink/sentry_flink/flink/flink_adapter.py
  sentry_flink/sentry_flink/flink/flink_translator.py
  sentry_flink/sentry_flink/flink_runtime/__init__.py
  sentry_flink/sentry_flink/flink_runtime/flink_api.py
  sentry_flink/sentry_flink/flink_runtime/flink_deploy.py
  sentry_flink/sentry_flink/flink_runtime/flink_stop.py
  sentry_flink/tests/README.md
  sentry_flink/tests/__init__.py
  sentry_flink/tests/adapters/__init__.py
  sentry_flink/tests/adapters/test_flink.py
  sentry_flink/tests/flink_runtime/test_api.py
  sentry_flink/tests/test_pipeline.py
  sentry_flink/tests/test_translator.py
  sentry_flink/uv.lock
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/deployment_config/test_flink.yaml
Due: none

feat(k8s): allow container name overriding in PipelineStep
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(k8s): add service_name label to k8s macro resources
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(runner): add override config support with deep-merge
  sentry_streams/sentry_streams/pipeline/config.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/fixtures/override_config.yaml
  sentry_streams/tests/pipeline/test_config.py
Due: mypy
