Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

Try to add batch
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
Due: none

Fix typo
  sentry_streams/sentry_streams/metrics/stats.py
  sentry_streams/tests/metrics/test_stats.py
Due: mypy

Add todo
  sentry_streams/sentry_streams/metrics/stats.py
Due: mypy

Fix tests
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/tests/pipeline/test_metrics.py
Due: mypy

Introduce lightweight stats (#305)
  sentry_streams/sentry_streams/adapters/arroyo/reduce.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/sentry_streams/metrics/stats.py
  sentry_streams/tests/metrics/test_stats.py
  sentry_streams/tests/pipeline/test_metrics.py
  sentry_streams/tests/test_load_runtime.py
Due: mypy

release: 0.0.47
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(dlq): add dlq support (no-op) (#277)
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/consumer.rs
  sentry_streams/src/kafka_config.rs
  sentry_streams/src/lib.rs
  sentry_streams/tests/test_dlq.py
Due: cargo-fmt, mypy

feat(sentry-streams): Add native Rust batch step for PyAnyMessage
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

ref(sentry-streams): Fix batch step tests and carried-over path
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

ref(sentry-streams): Dequeue post-batch watermarks on poll
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

ref(sentry-streams): Simplify batch step per PR review
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

ref(sentry-streams): Drop message_carried_over for outbound queue
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

ref(sentry-streams): Enqueue batch flush for drain_outbound only
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

Simplify
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

Fix docs
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

Force flush on join
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

reset files
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/metrics/metrics.py
Due: mypy

reset files
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Bring in the batch
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
Due: cargo-fmt, mypy

Bring in the batch
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
Due: none

Add the timing
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/src/batch_step.rs
Due: cargo-fmt, mypy

Add the timing
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Add the timing
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Add the timing
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Add the timing
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Add the timing
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
Due: mypy

Add the timing
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

Add the timing
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/src/batch_step.rs
  sentry_streams/src/operators.rs
Due: cargo-fmt, mypy

Add the timing
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
Due: none

Add the timing
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy
