Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

mypy:
  name: mypy
  entry: mypy
  language: system

optimize
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/src/messages.rs
Due: cargo-fmt, mypy

Change topic
  sentry_streams/sentry_streams/examples/filter_profile.py
Due: mypy

Get topic back
  sentry_streams/sentry_streams/examples/filter_profile.py
Due: mypy

Get topic back
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Remove call
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Remove call
  sentry_streams/sentry_streams/pipeline/message.py
Due: mypy

only build dlq object at adapter layer, tests not updated
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

remove data class field repr
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

Optimize message
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/messages.rs
  sentry_streams/tests/adapters/arroyo/test_multi_process_delegate.py
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
  sentry_streams/tests/pipeline/test_message.py
Due: cargo-fmt, mypy

Revert the change in headers
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/messages.rs
Due: cargo-fmt

Reduce the number of payload copy between rust and python (#299)
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/src/messages.rs
  sentry_streams/tests/adapters/arroyo/test_multi_process_delegate.py
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
  sentry_streams/tests/pipeline/test_message.py
Due: cargo-fmt, mypy

Optimize message
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/messages.rs
Due: cargo-fmt

Disable headers
  sentry_streams/sentry_streams/adapters/arroyo/multi_process_delegate.py
  sentry_streams/sentry_streams/adapters/arroyo/reduce_delegate.py
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
  sentry_streams/sentry_streams/pipeline/message.py
Due: mypy

Remove headers
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/src/messages.rs
  sentry_streams/tests/adapters/arroyo/test_delegate.py
  sentry_streams/tests/adapters/arroyo/test_multi_process_delegate.py
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
  sentry_streams/tests/pipeline/test_message.py
Due: cargo-fmt, mypy

release: 0.0.45
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Test skip processing headers (#301)
  sentry_streams/sentry_streams/adapters/arroyo/multi_process_delegate.py
  sentry_streams/sentry_streams/adapters/arroyo/reduce_delegate.py
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
  sentry_streams/sentry_streams/pipeline/message.py
  sentry_streams/src/messages.rs
  sentry_streams/tests/adapters/arroyo/test_delegate.py
  sentry_streams/tests/adapters/arroyo/test_multi_process_delegate.py
  sentry_streams/tests/adapters/arroyo/test_steps_chain.py
  sentry_streams/tests/pipeline/test_message.py
Due: cargo-fmt, mypy

release: 0.0.46
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

Vendor SBC
  sentry_streams/bin/pyspy_runner
  sentry_streams/scripts/generate_trace_item_kafka_traffic.py
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/sentry_streams/deployment_config/sbc_items.yaml
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
  sentry_streams/uv.lock
Due: mypy

Try to debug
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Try to debug
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

no serializer
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

remove batch
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Remove process
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Remove parse
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Remove filter
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

address comments
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/config_types.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/tests/test_dlq.py
Due: mypy

tests are edited
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/tests/test_dlq.py
Due: mypy

Bring filter back
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Add basic do nothing
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Try with returning None
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Try with returning None
  sentry_streams/sentry_streams/adapters/arroyo/steps_chain.py
Due: mypy

Try with returning None
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
Due: mypy

Try with returning None
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/src/transformer.rs
Due: cargo-fmt, mypy

Remove call from rust
  sentry_streams/src/transformer.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: ^sentry_streams/.*\.rs$
  mypy: any of: ^sentry_streams/.*\.py$ and \.py$
