Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

Add the timing
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Add the timing
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Add the timing
  sentry_streams/Cargo.toml
Due: none

Add the timing
  sentry_streams/Cargo.toml
  sentry_streams/bin/pyspy_runner
Due: none

Add the timing
  sentry_streams/bin/pyspy_runner
Due: none

Add the timing
  sentry_streams/bin/pyspy_runner
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Add the timing
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
Due: mypy

Resurrect python
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/steps.py
  sentry_streams/uv.lock
Due: mypy

Resurrect python
  sentry_streams/sentry_streams/adapters/arroyo/adapter.py
  sentry_streams/sentry_streams/adapters/arroyo/steps.py
Due: mypy

Address review comments
  sentry_streams/src/batch_step.rs
Due: cargo-fmt

feat(sentry-streams): Add native Rust batch step for PyAnyMessage (#307)
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

release: 0.0.48
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(sentry-streams): mixed PyAny/Raw native batch
  .agents/skills/.gitkeep
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/batch_step.rs
  sentry_streams/src/operators.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

Support RawMessages in the native batch step (#308)
  .agents/skills/.gitkeep
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/src/batch_step.rs
  sentry_streams/src/operators.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

release: 0.0.49
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(rust_streams): add PipelineStats and instrument Batch/Filter
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/filter_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/pipeline_stats.rs
  sentry_streams/src/transformer.rs
Due: cargo-fmt, mypy

fix(ci): reorder Batch fields for stub syntax and rustfmt
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/pipeline_stats.rs
Due: cargo-fmt, mypy

Add step name to the headers filter
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/operators.rs
Due: cargo-fmt, mypy

Remove lock and move to threadlocal
  sentry_streams/src/pipeline_stats.rs
Due: cargo-fmt

feat(rust_streams): PipelineStats and Batch/Filter metrics (#309)
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/filter_step.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/lib.rs
  sentry_streams/src/operators.rs
  sentry_streams/src/pipeline_stats.rs
  sentry_streams/src/transformer.rs
Due: cargo-fmt, mypy

release: 0.0.50
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

feat(watermarks): add test for watermarks passing thru PythonAdapter step
  sentry_streams/src/watermark.rs
  sentry_streams/uv.lock
Due: cargo-fmt

feat(watermarks): add test for watermarks passing thru PythonAdapter (#310)
  sentry_streams/src/watermark.rs
  sentry_streams/uv.lock
Due: cargo-fmt

feat(k8s): Add optional canary Deployment to PipelineStep
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

feat(streams): Add batch flush and GCS write metrics
  sentry_streams/src/batch_step.rs
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

feat(streams): add consumer watermark commit latency metric
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/dev_null_sink.rs
  sentry_streams/src/fake_strategy.rs
  sentry_streams/src/filter_step.rs
  sentry_streams/src/header_filter_step.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/testutils.rs
  sentry_streams/src/transformer.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/adapters/arroyo/helpers/message_helpers.py
Due: cargo-fmt, mypy

ref(streams): Align pipeline metric names and types with review
  sentry_streams/src/batch_step.rs
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

style: cargo fmt
  sentry_streams/src/batch_step.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/watermark.rs
Due: cargo-fmt

feat(streams): Add batch flush and GCS write pipeline metrics (#312)
  sentry_streams/src/batch_step.rs
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

ref(streams): Use f64 for watermark message_time
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/rust_streams.pyi
  sentry_streams/src/batch_step.rs
  sentry_streams/src/commit_policy.rs
  sentry_streams/src/messages.rs
  sentry_streams/src/sinks.rs
  sentry_streams/src/watermark.rs
  sentry_streams/tests/adapters/arroyo/helpers/message_helpers.py
Due: cargo-fmt, mypy
