Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

Add agents file to the k8s package
  AGENTS.md
  Makefile
  sentry_streams_k8s/AGENTS.md
  sentry_streams_k8s/CLAUDE.md
Due: none

Fixes to the existing packages
  AGENTS.md
  sentry_flink/AGENTS.md
  sentry_streams_k8s/AGENTS.md
Due: none

Add validate_pipeline_config function for reusable config validation
  sentry_streams/sentry_streams/validation.py
  sentry_streams/tests/test_validation.py
Due: mypy

Add PipelineStep class with TypedDict context validation
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

Implement helper functions for PipelineStep
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

Implement run() method for PipelineStep
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
Due: none

Revert validation function from sentry_streams
  sentry_streams/sentry_streams/validation.py
  sentry_streams/tests/test_validation.py
Due: mypy

Add validation logic to sentry_streams_k8s and complete PipelineStep implementation
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/sentry_streams_k8s/validation.py
  sentry_streams_k8s/tests/test_consumer.py
  sentry_streams_k8s/tests/test_pipeline_step.py
  sentry_streams_k8s/tests/test_validation.py
  sentry_streams_k8s/uv.lock
Due: none

Import config schema from sentry_streams instead of duplicating
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/validation.py
  sentry_streams_k8s/uv.lock
Due: none

Make the test more concise
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/consumer.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Fix the generated manifest
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Add the AGENTS file for the k8s package (#226)
  AGENTS.md
  Makefile
  sentry_flink/AGENTS.md
  sentry_streams_k8s/AGENTS.md
  sentry_streams_k8s/CLAUDE.md
Due: none

Introduce standard templte
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/merge.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/sentry_streams_k8s/templates/container.yaml
  sentry_streams_k8s/sentry_streams_k8s/templates/deployment.yaml
  sentry_streams_k8s/sentry_streams_k8s/templates/templates.yaml
  sentry_streams_k8s/tests/test_merge.py
  sentry_streams_k8s/tests/test_pipeline_step.py
  sentry_streams_k8s/uv.lock
Due: none

ci(release): Switch from action-prepare-release to Craft (#219)
  .github/workflows/changelog-preview.yml
  .github/workflows/release-streams.yaml
Due: none

Fix the deployment
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/sentry_streams_k8s/templates/templates.yaml
  sentry_streams_k8s/sentry_streams_k8s/validation.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Fill in the macro implementation (#227)
  sentry_streams_k8s/pyproject.toml
  sentry_streams_k8s/sentry_streams_k8s/__init__.py
  sentry_streams_k8s/sentry_streams_k8s/consumer.py
  sentry_streams_k8s/sentry_streams_k8s/merge.py
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/sentry_streams_k8s/templates/container.yaml
  sentry_streams_k8s/sentry_streams_k8s/templates/deployment.yaml
  sentry_streams_k8s/sentry_streams_k8s/validation.py
  sentry_streams_k8s/tests/test_consumer.py
  sentry_streams_k8s/tests/test_merge.py
  sentry_streams_k8s/tests/test_pipeline_step.py
  sentry_streams_k8s/tests/test_validation.py
  sentry_streams_k8s/uv.lock
Due: none

release: 0.0.2
  sentry_streams_k8s/CHANGELOG.md
  sentry_streams_k8s/pyproject.toml
Due: none

Move gcssink override to the step itself
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
  sentry_streams/uv.lock
Due: mypy

Revert the changes to uv lock and cargo
  .github/workflows/build-streams.yaml
  sentry_streams/uv.lock
Due: none

ci(release): Fix changelog-preview permissions
  .github/workflows/changelog-preview.yml
Due: none

ci(release): Fix changelog-preview permissions (#229)
  .github/workflows/changelog-preview.yml
Due: none

Require sink at the end of the branch
  sentry_streams/sentry_streams/pipeline/exception.py
  sentry_streams/sentry_streams/pipeline/validation.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_chain.py
  sentry_streams/tests/pipeline/test_validation.py
  sentry_streams/tests/test_runner.py
Due: mypy

Fix thread config
  sentry_streams/sentry_streams/pipeline/pipeline.py
Due: mypy

Move gcssink config override out of the adapter (#228)
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/sentry_streams/pipeline/pipeline.py
  sentry_streams/tests/test_pipeline.py
  sentry_streams/uv.lock
Due: mypy

Require sink at the end of a branch of the pipeline (#230)
  sentry_streams/sentry_streams/pipeline/exception.py
  sentry_streams/sentry_streams/pipeline/validation.py
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/pipeline/test_chain.py
  sentry_streams/tests/pipeline/test_validation.py
  sentry_streams/tests/test_runner.py
Due: mypy

version after second pass
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/run.rs
  sentry_streams/tests/pipeline/test_chain.py
  sentry_streams/tests/pipeline/test_validation.py
  sentry_streams/tests/test_load_runtime.py
  sentry_streams/tests/test_runner.py
Due: cargo-fmt, mypy

revert wrong commits
  sentry_streams/tests/pipeline/test_chain.py
  sentry_streams/tests/pipeline/test_validation.py
  sentry_streams/tests/test_runner.py
Due: mypy

add sink to test pipeline
  sentry_streams/tests/test_load_runtime.py
Due: mypy

only change rust runner arg names
  sentry_streams/src/run.rs
Due: cargo-fmt

Add replicas parameter to PipelineStep macro for parallelism support
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

Remove redundant test_replicas_parameter test
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

use transport in test
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/test_load_runtime.py
Due: mypy

rename to sentry_sdk_config
  sentry_streams/sentry_streams/config.json
  sentry_streams/sentry_streams/runner.py
  sentry_streams/tests/test_load_runtime.py
Due: mypy

use dummyadapter
  sentry_streams/tests/test_load_runtime.py
Due: mypy

remove unused
  sentry_streams/tests/test_load_runtime.py
Due: mypy

use real modules
  sentry_streams/tests/fixtures/missing_pipeline.py
  sentry_streams/tests/fixtures/simple_app.py
  sentry_streams/tests/test_load_runtime.py
Due: mypy

clean up clis
  sentry_streams/sentry_streams/runner.py
  sentry_streams/src/run.rs
  sentry_streams/tests/test_load_runtime.py
Due: cargo-fmt, mypy

feat(k8s): Add multi-processing support to PipelineStep macro
  sentry_streams_k8s/sentry_streams_k8s/pipeline_step.py
  sentry_streams_k8s/tests/test_pipeline_step.py
Due: none

add file
  sentry_streams/tests/fixtures/test_config.yaml
Due: none

add metrics teardown
  sentry_streams/tests/test_load_runtime.py
Due: mypy
