Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

feat(gcssink): add logging of bytes lengths (#201)
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

Add architecture doc
  flink_bridge_readme.md
Due: none

fix(python_adapter): retrieve messages as Sequence
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/uv.lock
Due: mypy

port python code over to python
  sentry_streams/sentry_streams/adapters/arroyo/test_delegate.py
  sentry_streams/src/python_operator.rs
Due: cargo-fmt, mypy

AI fixes everything
  sentry_streams/sentry_streams/adapters/arroyo/test_delegate.py
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt, mypy

convert PyWatermark properly
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

fix(watermark): Return a list instead of a generator
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

fix(watermark): Return a list instead of a generator (#203)
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

need specific signature
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

release: 0.0.28
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

fix(sbc) Downgrade datadog package
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

fix(watermark): add specific func signature (#204)
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
Due: mypy

release: 0.0.29
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

oosp remove head
  sentry_streams/pyproject.toml
Due: none

checking out masters version
  sentry_streams/pyproject.toml
Due: none

revert to evan's initial changes
  sentry_streams/pyproject.toml
Due: none

latest is 29 now
  sentry_streams/pyproject.toml
Due: none

commit uv changes
  sentry_streams/uv.lock
Due: none

why is it 29
  sentry_streams/pyproject.toml
Due: none

fix typing
  sentry_streams/src/operators.rs
Due: cargo-fmt

fix typing
  sentry_streams/sentry_streams/metrics/metrics.py
Due: mypy

fix(sbc) Downgrade datadog package (#205)
  sentry_streams/pyproject.toml
  sentry_streams/sentry_streams/metrics/metrics.py
  sentry_streams/src/operators.rs
  sentry_streams/uv.lock
Due: cargo-fmt, mypy

add click version
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

downgrade click (#206)
  sentry_streams/pyproject.toml
  sentry_streams/uv.lock
Due: none

release: 0.0.30
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

use TryFrom instead of From
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

fix bump version script
  scripts/bump-version.sh
  sentry_streams/pyproject.toml
Due: none

revert to 29
  sentry_streams/pyproject.toml
Due: none

fix(release): bump version script recognizing white spaces (#207)
  scripts/bump-version.sh
  sentry_streams/pyproject.toml
Due: none

release: 0.0.31
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

fix watermark test
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

fix(python_adapter): more __yield_messages fixes (#202)
  sentry_streams/sentry_streams/adapters/arroyo/rust_step.py
  sentry_streams/src/messages.rs
  sentry_streams/src/python_operator.rs
Due: cargo-fmt, mypy

release: 0.0.32
  sentry_streams/CHANGELOG.md
  sentry_streams/pyproject.toml
Due: none

clean up cursor
  sentry_streams/src/messages.rs
Due: cargo-fmt

add all
  sentry_streams/Cargo.lock
  sentry_streams/Cargo.toml
  sentry_streams/src/gcs_writer.rs
  sentry_streams/uv.lock
Due: cargo-fmt

add comment
  sentry_streams/src/gcs_writer.rs
Due: cargo-fmt

readme
  README.md
Due: none

add try catch
  sentry_streams/sentry_streams/pipeline/msg_codecs.py
Due: mypy

log payload
  sentry_streams/sentry_streams/pipeline/msg_codecs.py
Due: mypy
