Repository getsentry/streams: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
        files: ^(?!.*\.rst).*
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        # Exclude CHANGELOG.md from this hook as Craft generates updates
        # that make pre-commit fail on the release branch.
        # An extra new line is added at the end.
        exclude: "^sentry_streams/CHANGELOG.md"
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^sentry_streams/.+
        args: [--config=./sentry_streams/pyproject.toml]
      - id: black
        files: ^sentry_flink/.+
        args: [--config=./sentry_flink/pyproject.toml]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        files: ^sentry_streams/.+
        args: [--settings-path=./sentry_streams/pyproject.toml]
      - id: isort
        name: isort (python)
        files: ^sentry_flink/.+
        args: [--settings-path=./sentry_flink/pyproject.toml]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^sentry_streams/.*\.rs$
      - id: mypy
        name: mypy
        entry: mypy
        files: ^sentry_streams/.*\.py$
        types: [python]
        language: system

default_language_version:
  python: python3.11

Try to add batch
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Try to add batch
  sentry_streams/src/python_operator.rs
Due: cargo-fmt

Try to add batch
  sentry_streams/sentry_streams/adapters/arroyo/fake_delegate.py
  sentry_streams/sentry_streams/adapters/arroyo/rust_arroyo.py
  sentry_streams/src/python_operator.rs
Due: cargo-fmt, mypy

Try to add batch
  sentry_streams/sentry_streams/adapters/arroyo/fake_delegate.py
Due: mypy

Try to add batch
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Try to add batch
  sentry_streams/sentry_streams/examples/items_spans.py
Due: mypy

Try to add batch
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy

Try to add batch
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
Due: none

Try to add batch
  sentry_streams/sentry_streams/deployment_config/items_spans.yaml
  sentry_streams/sentry_streams/examples/items_spans.py
  sentry_streams/sentry_streams/examples/transform_metrics.py
Due: mypy
